@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-emerald-700 text-white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  html {
    font-family: Poppins, Dancing Script, Bebas Neue;
  }
}
